*{
  box-sizing: border-box;
}
.add-user {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: white;
}

.inputStyle input{
  margin:0 auto .5em;
  font-size:.875em;
  text-align:center;
  background:none;
  border:none;
  border-bottom:.1em solid hsla(0,0%,100%,.9);
  color:#fff;
}

.inputStyle input:focus{
  outline: none;
}

.inputStyle p {
  color: red;
  font-size: 14px;
}


.givenList{
  display: block;
  margin-top: 50px;
  width: 100%;
  padding-left: 30px;
}

.givenListNone{
  display: none;
}

.listStyle{
  width: 45%;
  float: left;
  margin-right: 50px;
}

.listStyle p {
  padding-bottom: 20px;
  border-bottom: .1em solid hsla(0,0%,100%,.9);
}

.listStyle ul {
  list-style-type: none;
}

.listStyle ul li{
  text-align: left;
  font-size: 12px;
}

