*{
  box-sizing: border-box;
}
.add-user {
  background-color: #fcf6f5ff;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: #2bae66ff;
}

.inputStyle input{
  margin:0 auto .5em;
  font-size:.875em;
  text-align:center;
  background:none;
  border:none;
  border-bottom:.1em solid #2bae66ff;
  color:#282c34;
}

.inputStyle input:focus{
  outline: none;
}

.inputStyle p {
  color: red;
  font-size: 14px;
}


.givenList{
  display: block;
  margin-top: 50px;
  width: 100%;
  padding-left: 30px;
}

.givenListNone{
  display: none;
}

.listStyle{
  width: 100%;
  float: left;
  text-align: left;
}

.listStyle p {
  padding-bottom: 20px;
  padding-left: 30px;
  border-bottom: .1em solid #2bae66ff;
}

.listStyle ol {
  line-height: 110%;
  width: 55em;
}

.olNone {
  list-style-type: none;
}
.listStyle ol li{
  width: 20em;
  float: left;
  font-size: 14px;
  color: #282c34;
  padding-left: 10px;
}

.listElementNone{
  padding-left: 0;
  list-style-type: none;
}

